In [1]:
import numpy as np
import pandas as pd
import sklearn as sk
import matplotlib.pyplot as plt

In [2]:
a=pd.read_csv("hltrain.csv")

In [3]:
a.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [4]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [6]:
a.shape

(614, 13)

In [8]:
a.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [12]:
a["LoanAmount"]=a["LoanAmount"].fillna(a["LoanAmount"].mean())
a["Credit_History"]=a["Credit_History"].fillna(a["Credit_History"].median())

In [14]:
a.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term     14
Credit_History        0
Property_Area         0
Loan_Status           0
dtype: int64

In [15]:
a.dropna(inplace=True)

In [16]:
a.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [17]:
a.shape

(542, 13)

In [19]:
a["Loan_Status"].replace("Y",1,inplace=True)
a["Loan_Status"].replace("N",0,inplace=True)

In [21]:
a["Loan_Status"].value_counts()

1    376
0    166
Name: Loan_Status, dtype: int64

In [22]:
a.Gender=a.Gender.map({"Male":1,"Female":0})
a["Gender"].value_counts()

1    444
0     98
Name: Gender, dtype: int64

In [23]:
a.Married=a.Married.map({"Yes":1,"No":0})
a["Married"].value_counts()

1    355
0    187
Name: Married, dtype: int64

In [25]:
a.Dependents=a.Dependents.map({"0":0,"1":1,"2":2,"3+":3})
a["Dependents"].value_counts()

0    309
1     94
2     94
3     45
Name: Dependents, dtype: int64

In [27]:
a.Education=a.Education.map({"Graduation":1,"Not Graduation":0})
a["Education"].value_counts()

Series([], Name: Education, dtype: int64)

In [29]:
a.Self_Employed=a.Self_Employed.map({"Yes":1,"No":0})
a["Self_Employed"].value_counts()

Series([], Name: Self_Employed, dtype: int64)

In [31]:
a.Property_Area=a.Property_Area.map({"Urban":2,"Rural":0,"Semiurban":1})
a["Property_Area"].value_counts()

Series([], Name: Property_Area, dtype: int64)

In [32]:
a["Credit_History"].value_counts()

1.0    468
0.0     74
Name: Credit_History, dtype: int64

In [34]:
a.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,1,0,0,NaN,NaN,5849,0.0,146.412162,360.0,1.0,NaN,1
1,LP001003,1,1,1,NaN,NaN,4583,1508.0,128.000000,360.0,1.0,NaN,0
2,LP001005,1,1,0,NaN,NaN,3000,0.0,66.000000,360.0,1.0,NaN,1
3,LP001006,1,1,0,NaN,NaN,2583,2358.0,120.000000,360.0,1.0,NaN,1
4,LP001008,1,0,0,NaN,NaN,6000,0.0,141.000000,360.0,1.0,NaN,1

In [7]:
from sklearn.model_selection import train_test_split

In [35]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [36]:
x=a.iloc[1:152,1:12].values
y=a.iloc[1:152,12].values

In [38]:
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.25,random_state=0)

In [43]:
model = LogisticRegression()
model.fit(x_train,y_train)

ir_prediction= model.predict(x_test)
print("LogesticRegression accuracy : ",metrics.accuracy_score(ir_prediction,y_test))

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [44]:
print(lr_prediction[1])
print(y_test[1])

NameError: name 'lr_prediction' is not defined